<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">


       <bean id="waiterTarget" class="cn.zsza.dailyTest.spring4.springAop.demo2.Waiter"/>

       <bean id="sellerTarget" class="cn.zsza.dailyTest.spring4.springAop.demo2.Seller"/>

       <bean id="greetingAdvice" class="cn.zsza.dailyTest.spring4.springAop.demo2.GreetingBeforeAdvice"/>

       <!--
         advice-ref:向切面注入一个前置增强
       -->
       <bean id="greetingAdvisor" class="cn.zsza.dailyTest.spring4.springAop.demo2.GreetingAdvisor"
             p:advice-ref="greetingAdvice"
       />

       <bean id="parent" abstract="true"
             class="org.springframework.aop.framework.ProxyFactoryBean"
             p:interceptorNames="greetingAdvisor"
             p:proxyTargetClass="true"/>

       <bean id="waiter" parent="parent" p:target-ref="waiterTarget"/>
       <bean id="seller" parent="parent" p:target-ref="sellerTarget"/>


       <!--通过正则表达式定义切面-->
       <bean id="regexAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
             p:advice-ref="greetingAdvice">
              <property name="patterns">
                     <list>
                            <value>.*greet.*</value>
                     </list>
              </property>
       </bean>

       <bean id="waiterRegex" class="org.springframework.aop.framework.ProxyFactoryBean"
             p:interceptorNames="regexAdvisor"
             p:target-ref="waiterTarget"
             p:proxyTargetClass="true"/>

</beans>