<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

       <!--
        该注解自动为Spring容器中那些匹配@AspectJ切面的Bean创建代理,完成切面织入
       -->
       <aop:aspectj-autoproxy/>

       <bean id="waiter" class="cn.zsza.dailyTest.spring4.springAop.aspectJ.NaiveWaiter"/>

       <!--<bean class="cn.zsza.dailyTest.spring4.springAop.aspectJ.PreGreetingAspect"/>-->


       <!--MyInterceptor-->
       <bean id="myInterceptor" class="cn.zsza.dailyTest.spring4.springAop.Interceptor.MyInterceptor"/>

</beans>